.save-button {
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.results-container{
  padding-left: 15px;
  padding-right: 15px;
}

.preview-container {
  align-self: end;
}
